<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/basic.css">
</head>
<body>

<h1>hello</h1>
<ul>
    <li><a href="/liveStation/page">스트리밍</a></li>
    <li><a href="/chatBot/chat">챗봇</a></li>
    <li><a href="/ncloudChat/chat">채팅</a></li>
    <li><a href="/user/signup">회원가입</a></li>
    <li><a href="/storage/upload">오브젝트 스토리지</a></li>
    <li><a href="/attendance/main">출석부</a></li>
    <li><a href="/liveChat/abc">라이브채팅</a> </li>
</ul>


</body>
</html>